<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>Actualizar Especialidad</h2>
  </div>

  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <mat-select formControlName="nombre">
          @for (n of nombres; track n) {
            <mat-option [value]="n">{{ n }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" />
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Área</mat-label>
        <mat-select formControlName="area">
          @for (a of areas; track a) {
            <mat-option [value]="a">{{ a }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />

      <mat-checkbox formControlName="atencionvirtual">Atención Virtual</mat-checkbox>
      <br />
      <br />

      <div class="form-acciones">
        <button matButton type="submit" class="btn-form">
          <mat-icon>save</mat-icon> Actualizar
        </button>

        <button matButton type="button" class="btn-form" routerLink="/app/specialties/listar">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
      </div>

    </form>
  </div>
</div>
