<div class="container">
  <div style="text-align: center; margin: 3%">
    <h2>Actualizar Especialidad</h2>
  </div>

  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" readonly />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Área</mat-label>
        <input matInput formControlName="area" />
      </mat-form-field>

      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Atención Virtual</mat-label>
        <input matInput formControlName="atencionvirtual" />
      </mat-form-field>

      <br />

      <button matButton="elevated">
        Actualizar
      </button>

    </form>
  </div>
</div>