<div class="container">
  <h2 style="text-align: center">Lista de Distritos</h2>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID.</th>
        <td mat-cell *matCellDef="let element">{{ element.idDistrict }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Distrito</th>
        <td mat-cell *matCellDef="let element">{{ element.nameDistrict }}</td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Departamento</th>
        <td mat-cell *matCellDef="let element">{{ element.nameDepartment }}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Zona</th>
        <td mat-cell *matCellDef="let element">{{ element.zone }}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Ubigeo</th>
        <td mat-cell *matCellDef="let element">{{ element.ubigeo }}</td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['/app/district/actualizar', element.idDistrict]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idDistrict)" class="btn-eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>