<div class="container">
  <div style="text-align: center; margin: 3%"><h2>Registro de Chat IA</h2></div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Pregunta</mat-label>
        <textarea matInput placeholder="¿Qué ejercicios son recomendables?" formControlName="pregunta"></textarea>
        <mat-error>
          @if (form.get('pregunta')?.hasError('required')) {
            Ingrese la pregunta!!
          }
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Respuesta</mat-label>
        <textarea matInput formControlName="respuesta"></textarea>
        <mat-error>
          @if (form.get('respuesta')?.hasError('required')) {
            Ingrese la respuesta!!
          }
        </mat-error>
      </mat-form-field>
      <div class="form-acciones">
        <button mat-raised-button type="submit" class="btn-form">Registrar</button>
        <button mat-raised-button type="button" class="btn-form" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
