<div class="container">
  <div style="text-align: center; margin: 3%"><h2>Actualizar Distrito</h2></div>
  <div style="text-align: center">
    <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Nombre del Distrito</mat-label>
        <input matInput placeholder="Ej. San Isidro" formControlName="nombreDistrito" />
        <mat-error>
          @if (form.get('nombreDistrito')?.hasError('required')) {
            Ingrese el nombre del distrito!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Departamento</mat-label>
        <input matInput placeholder="Ej. Lima" formControlName="nombreDepartamento" />
        <mat-error>
          @if (form.get('nombreDepartamento')?.hasError('required')) {
            Ingrese el nombre del departamento!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Zona</mat-label>
        <input matInput placeholder="Ej. Centro" formControlName="zona" />
        <mat-error>
          @if (form.get('zona')?.hasError('required')) {
            Ingrese la zona!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Ubigeo</mat-label>
        <input matInput type="number" placeholder="Ej. 150101" formControlName="ubigeo" />
        <mat-error>
          @if (form.get('ubigeo')?.hasError('required')) {
            Ingrese el código ubigeo!!
          }
        </mat-error>
      </mat-form-field>
      <br />

      <div>
        <button matButton="elevated">Actualizar</button>
      </div>

    </form>
  </div>
</div>
